<extend name="Base/common"/>
<block name="body">
	<div class="container">
		<div class="jumbotron">
		  <h3 style="color:green">信息提交成功！你可以</h3>
		  <p><a class="btn btn-success" href="https://coding.net/u/ninvfeng/p/ourclass/git" role="button">一起完善这个网站</a></p>
		  <p><a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#myModal">查看全班实习信息</a></p>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">功能开发中...</h4>
	      </div>
	      <div class="modal-body">
	        <h4>查看全班同学公开实习情况功能正在紧张开发中......<br><br></h4>
	      </div>
	      <div class="modal-footer">
	        <a href="https://coding.net/u/ninvfeng/p/ourclass/topic/all" type="button" class="btn btn-primary">意见建议</a>
	        <a href="https://coding.net/u/ninvfeng/p/ourclass/git" type="button" class="btn btn-success">一起开发</a>
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>
</block>